.news-container {
    width: 100%;
}

.news-section {
    width: 85%;
    margin: 20px auto;
}

.news-section .news-title {
    width: 60%;
    text-align: center;
    margin: auto;
}

.news-section .news-title h2 {
    font-size: 40px;
    color: #357ca6;
    text-transform: uppercase;
    margin-top: 50px;
}

.news-section .news-title p {
    font-size: 18px;
    color: #7e7e7e;
    margin-top: 20px;
}

.news-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    margin: 25px auto;
}

.news-cards .news-card {
    width: 100%;
    position: relative;
}

.news-image img {
    width: 500px;
    height: 280px;
}

.news-content {
    padding: 15px 20px;
}

.news-content h4{
    font-size: 24px;
    font-weight: 500;
    color: #222;
}

.news-content p {
    font-size: 15px;
    color: #7e7e7e;
}

.news-content a {
    text-decoration: none;
    color: #fff;
    margin-top: 12px;
    display: inline-block;
    background-color: #ED760E;
    padding: 8px 15px;
}

.news-card .news-posted-data {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    background-color: #F8D568;
    padding: 0 15px;
}

@media screen and (max-width: 992px){
    .news-cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 768px){
    .news-cards {
        grid-template-columns: 1fr;
    }
}