.news-container {
    width: 100%;
}

.news__section {
    width: 85%;
    margin: 20px auto;
}

.news__section .news__section-greeting {
    width: 60%;
    text-align: center;
    margin: auto;
}

.news__section .news__section-title {
    font-size: 40px;
    color: #357ca6;
    text-transform: uppercase;
    margin-top: 50px;
}

.news__section .news__section-description {
    font-size: 18px;
    color: #7e7e7e;
    margin-top: 20px;
}

.news__section-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    margin: 25px auto;
}

.news__section-cards .news__section-card {
    width: 100%;
    position: relative;
}

.news__section-card-image img {
    width: 500px;
    height: 280px;
}

.news__section-card-content {
    padding: 15px 20px;
}

.news__section-card-content .news__section-card-content_title {
    font-size: 24px;
    font-weight: 500;
    color: #222;
}

.news__section-card-content .news__section-card-content_desc {
    font-size: 15px;
    color: #7e7e7e;
}

.news__section-card-content .news__section-card-content_btn {
    text-decoration: none;
    color: #fff;
    margin-top: 12px;
    display: inline-block;
    background-color: #ED760E;
    padding: 8px 15px;
}

.news__section-card .news__section-card-date {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    background-color: #F8D568;
    padding: 0 15px;
}

@media screen and (max-width: 992px){
    .news__section-cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 768px){
    .news__section-cards {
        grid-template-columns: 1fr;
    }
}