footer {
    position: relative;
    width: 100%;
    background-color: #000;
    padding: 40px 70px;
}

.footer-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

footer ul {
    position: relative;
    display: block;
    justify-content: center;
    align-items: center;
    width: 30%;
}

footer ul li {
    position: relative;
    list-style: none;
    margin: 15px 0;
}

footer ul li a {
    position: relative;
    text-decoration: none;
    color: #fff;
}

/* contact us */
.footer-social-media {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 16px 0;
    padding-right: 40px;
}

.footer-social-media span {
    color: #fff;
    margin-bottom: 10px;
}

.footer-social-media .footer-sm-icons {
    display: flex;
    flex-direction: row;
}

.footer-social-media img {
    height: 35px;
    width: 35px;
    cursor: pointer;
    margin-right: 12px;
    transition: transform 0.3s ease;
}

.footer-social-media img:hover {
    transform: scale(1.2);
}

/* privacy policy */
.footer-privacy-policy {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
    padding: 0 40px;
}

.footer-privacy-policy a {
    position: relative;
    text-decoration: none;
    color: #fff;
}

/* contacts */
.footer-contacts {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 16px 0;
    padding-right: 40px;
}

.footer-contacts span {
    color: #fff;
    margin-bottom: 10px;
}

.footer-contacts-links,
.footer-contacts-address {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.footer-contacts-links a {
    position: relative;
    text-decoration: none;
    cursor: pointer;
    color: #fff;
}

.footer-contacts-links > div{
    margin-bottom: 10px;
}

/* button up */
.btn-up {
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 2;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: .2s;
    transform: translateY(25px);
}

.btn-up.active {
    bottom: 50px;
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}
