header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 70px;
    z-index: 2;
}

header.sticky {
    padding: 10px 70px;
    background: #00416A;
    position: sticky;
    z-index: 2;
}

header.sticky svg,
header.sticky span,
header.sticky a {
    fill: #fff;
    color: #fff;
    cursor: pointer;
}

header svg,
header span,
header a {
    cursor: pointer;
}

header svg,
header.sticky svg {
    transition: transform 0.3s ease;
}
header svg:hover,
header.sticky svg:hover {
    transform: scale(1.2);
}

header .logo {
    position: relative;
    font-size: 2em;
    text-decoration: none;
    color: #000;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}

header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    position: relative;
    list-style: none;
}

header ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #000;
    letter-spacing: 2px;
    font-weight: 500;
    transition: 0.6s;
}

header.sticky .logo,
header.sticky ul li a {
    color: white;
}

/* buttons pop-ups */
.btn_popup,
.btn_basket,
.btn_search{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

/* language */
.language-switcher a {
    text-decoration: none;
    color: #000;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.language-switcher a:hover {
    background-color: #007bff;
    color: #fff;
}

.language-switcher a:active {
    background-color: #0056b3;
    color: #fff;
}

/* phone */
.header-phone {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-phone > div, .header-location > div {
    padding: 3px;
}

/* social networks leftside */
.leftside-sm-icons {
    position: fixed;
    display: flex;
    flex-direction: column;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.leftside-sm-icons svg {
    height: 35px;
    width: 35px;
}

header.sticky .leftside-sm-icons svg{
    fill: #000;
}

.leftside-sm-icons a {
    cursor: pointer;
}

/* location */
.dropdown {
    position: relative;
    display: flex;
    align-items: center;
}

.dropdown-menu {
    width: 200px;
    height: 50px;
}

.dropdown-menu:before {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    right: 10px;
    top: 15px;
    z-index: 1;
    border: 2px solid #333;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(-45deg);
    transition: 0.5s;
    pointer-events: none;
}

.dropdown-menu.active:before {
    top: 20px;
    transform: rotate(-225deg);
}

.dropdown-menu input {
    position: absolute;
    cursor: pointer;
    background: #fff;
    border: none;
    outline: none;
    box-shadow: 0 5px 20px rgba(0,0,0,0.05);
    padding: 12px 20px;
    border-radius: 10px;
}

.dropdown-menu .option {
    position: absolute;
    top: 55px;
    width: 200px;
    background: #fff;
    box-shadow: 0 30px 30px rgba(0,0,0,0.05);
    border-radius: 10px;
    overflow: hidden;
    display: none;
}

.dropdown-menu.active .option {
    display: block;
}

.dropdown-menu .option div {
    padding: 12px 20px;
    cursor: pointer;
}

.dropdown-menu .option div:hover {
    background: #62baea;
    color: #fff;
}



