.product-container {
    display: flex;
    justify-content: space-between;
}

.basket .quantity .minus-btn,
.basket .quantity .plus-btn {
    cursor: pointer;
}

.input_price {
    text-align: center;
}

.input_price::-webkit-outer-spin-button,
.input_price::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.btn_add_basket {
    background-color: #F0782D;
    border: none;
    cursor: pointer;
    color: #fff;
    padding: 10px 30px;
}

.btn_add_basket:hover {
    background-color: #FDBF3D;
}

/* для табов */
.tab {
    display: inline-block;
    text-align: center;
    padding: 15px;
    background-color: #2BB26E;
    border: none;
    cursor: pointer;
    color: white;
    font-weight: 500;
}

.tab-hidden{
    display: none;
}

.tab:hover {
    background-color: lightgreen;
}
/* "конец" табов */

/* для списка характеристик */
.dotted {
    list-style: none;
}
.dotted li {
    margin-bottom: 5px;
    border-bottom: 2px #404B51 dotted;
    font-size: 26px;
    line-height: 1;
}
.dotted li span:nth-child(odd) {
    padding-right: 6px;
    color: #404B51;
}
.dotted li span:nth-child(even) {
    float: right;
    padding-left: 6px;
}
.dotted span {
    background: white;
    bottom: -7px;
}
/* "конец" списка характеристик */

/* галерея фото */
.product-gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-image {
    max-width: 305px;
    height: 410px;
    margin-bottom: 20px;
}
.thumbnail-container {
    display: flex;
    gap: 10px;
}
.thumbnail {
    width: 80px;
    height: 80px;
    cursor: pointer;
}
/* "конец" галерея фото */