.cont {
    margin: 0 20px;
}

.product-container {
    display: flex;
    justify-content: space-between;
    margin: 0 250px;
}


.prod_content, .content, .basket {
    flex: 1;
    margin: 10px;

}

.content h2 {
    font-size: 20px;
}


.main-content {
    margin: 0 20px;
}

.left-column {
    max-width: 600px;
}

.center-column {
    flex: 2;
}

.right-column {
    max-width: 250px;
}

.prod_content img {
    max-width: 370px;
    height: 410px;
}


.basket .quantity .minus-btn,
.basket .quantity .plus-btn {
    cursor: pointer;
}

.btn_add_basket {
    background-color: #F0782D;
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: inherit;
    padding: 10px 30px;

}



.reviews-list {
    display: flex;
    margin: 0 250px;

}

.review-block {
    width: 350px;
    height: 800px;
    border: 1px solid black;
    margin: 10px;
    box-sizing: border-box;
    padding: 20px;

}

.review-block img {
    height: 15%;
    width: 15%;
    background-color: #ffffff;
    border-radius: 50%;
    float: left;
    margin-right: 15px;
}

.photo-user {
    height: 15%;
    width: 15%;
    background-color: #ffffff;
    border-radius: 50%;
    padding: 10px;
    align-items: center;
}
