@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    font-family: 'Montserrat', sans-serif;
    scrollbar-width: thin;
    font-style: normal;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    border: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main {
    flex-grow: 1;
    margin: 0 20px;
    min-height: calc(100vh - 416px);
    overflow: hidden;
    display: block;
}

@keyframes swing {
    15% {
        -webkit-transform: translateX(9px);
        transform: translateX(9px);
    }
    30% {
        -webkit-transform: translateX(-9px);
        transform: translateX(-9px);
    }
    40% {
        -webkit-transform: translateX(6px);
        transform: translateX(6px);
    }
    50% {
        -webkit-transform: translateX(-6px);
        transform: translateX(-6px);
    }
    65% {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

pre {
    font-family: monospace, monospace;
    font-size: 1em;
}

b,
strong {
    font-weight: bolder;
}

small {
    font-size: 80%;
}

.myframe {
    display: block;
    margin: auto;
    width: 100%;
    text-align: center;
}

.wrapper {
    padding: 30px 40px;
}

.wrapper .remember {
    display: flex;
    font-size: 14px;
    justify-content: space-between;
    flex-direction: column;
}

.remember a {
    color: black;
    text-decoration: none;
    margin-top: 5px;
    cursor: pointer;
}

.remember a:hover {
    text-decoration: underline;
}

.banner {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url("/image/jpg/banners/main-banner.jpg") no-repeat center center fixed;
    background-size: cover;
    z-index: 1;
}

/* logos slider */
@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

.logos {
    overflow: hidden;
    padding: 60px 0;
    background: #fff;
    white-space: nowrap;
    position: relative;
}

.logos:before,
.logos:after {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 1;
}

.logos:before {
    left: 0;
    background: linear-gradient(to left, rgba(255,255,255,0), #fff);
}

.logos:after {
    right: 0;
    background: linear-gradient(to right, rgba(255,255,255,0), #fff);
}

.logos:hover .logos-slide {
    animation-play-state: paused;
}

.logos-slide {
    display: inline-block;
    animation: 25s slide infinite linear;
}

.logos-slide img {
    height: 50px;
    margin: 0 40px;
}



/*
dark blue: #1C3C9D
red: #BE1201
dark green: #0E7559
turquoise: #00B5A8
medium blue: #008BFC
yellow: #FFF709
green: #43CB21
*/