.product-container {
    display: flex;
    justify-content: center;
}

.product-wrapper {
    display: grid;
    grid-template-columns: 350px 500px 350px;
}

.product__content {
    margin: 5px;
    box-sizing: border-box;
    font-size: 14px;
}

/* галерея */
.product__gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.product__gallery-image {
    max-width: 305px;
    height: 410px;
    margin-bottom: 10px;
}
.product__gallery-thumbnail {
    display: flex;
    gap: 10px;
}
.product__gallery-thumbnail-img {
    width: 80px;
    height: 80px;
    max-width: 50px;
    max-height: 50px;
    cursor: pointer;
}

/* карточка */
.product__card-color_switcher {
    cursor: pointer;
}

.btn_read-more {
    background: transparent;
    border-bottom: 1px dotted;
    cursor: pointer;
    font-size: 12px;
    flex-shrink: 0;
}

.hidden-text {
    display: block;
    font-size: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    flex-shrink: 0;
}

.lazyloaded {
    opacity: 1;
    transition: opacity 300ms;
}

/* заказ */
.block-with-shadow {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.block-with-shadow:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.product__sale-quantity_input {
    text-align: center;
}

.product__sale-quantity_minus,
.product__sale-quantity_plus {
    cursor: pointer;
}

.product__sale-quantity_input::-webkit-outer-spin-button,
.product__sale-quantity_input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.btn_add_basket {
    background-color: #F0782D;
    border: none;
    cursor: pointer;
    color: #fff;
    padding: 10px 30px;
}

.btn_add_basket:hover {
    background-color: #FDBF3D;
}

.product__shops {
    font-size: 12px;
}

.product__shops p {
    margin: 5px 0;
}

/* табы */
.product__tabs {
    margin-left: 40px;
}

.product__tabs-item {
    display: inline-block;
    text-align: center;
    padding: 10px;
    background-color: #2BB26E;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 14px;
    font-weight: 500;
}

.product__tabs-item.active, .product__tabs-item:hover {
    background-color: lightgreen;
}

.tab-hidden {
    display: none;
}