.totalOrder {
    float: right;
    justify-content: flex-start;
    height: 250px;
    width: 400px;
    padding: 20px;
    top: 30px;
    left: 1830px;

}

.orderProduct {
    display: block;
    top: 260px;
    left: 70px;
    margin: 20px;
    max-width: 72%;
}

.order {
    width: 450px;
    height: 550px;
    background-color: #2bb26e;
    margin: 50px;
    color: white;
    display: none;
}

.order.active{
    display: block;
}

.order-container {
    padding: 50px;
}

.order-container input {
    display: block;
    width: 100%;
    padding: 0 10px;
    margin-bottom: 10px;
    background: #ffffff;
    line-height: 40px;
    border-width: 0;
    border-radius: 20px;
}

.order-container h1 {
    margin-top: 0;
    font-weight: 500;
    font-size: 24px;
    color: #ffffff;
}

.basketCont h1 {
    margin-top: 40px;
    font-weight: 500;
    font-size: 24px;
    text-align: center;
}

.payment {
    display: flex;
    padding: 10px;
}

.makeOrder {
    text-decoration: none;
    display: block;
    width: 100%;
    padding: 0 10px;
    margin-bottom: 10px;
    background: #ffffff;
    color: black;
    line-height: 40px;
    border-width: 0;
    border-radius: 20px;
    text-align: center;
}

.orderSuccess {
    font-size: 32px;
    font-weight: 300;
    padding: 10%;
}
