
.reviews__rating{
    display: flex;
}
.reviews__rating-rank {
    display: flex;
    flex-direction: row-reverse;
}
.reviews__rating-rank span{
    cursor: pointer;
    transition: color .2s;
    font-size: 30px;
    color: #ffffff;
}
.reviews__rating-rank span:hover{
    color: #FDBF3D;
}
.reviews__rating-rank span:hover ~ span{
    color: #FDBF3D;
}
.reviews__rating-rank span[data-clicked]{
    color: #FDBF3D;
}
.reviews__rating-rank span[data-clicked] ~ span{
    color: #FDBF3D;
}
